# SPDX-FileCopyrightText: 2021 Frans van Dorsselaer
#
# SPDX-License-Identifier: MIT

# default: normalize EOL
* text=auto

.gitattributes   text
.gitignore       text
.editorconfig    text
.config          text
.license         text
.nojekyll        text

*.md    text
*.txt   text

*.json   text
*.yml    text

*.snk   binary

*.slnx      text
*.csproj    text
*.cs        text eol=crlf
*.props     text
*.targets   text

*.razor    text
*.cshtml   text
*.css      text
*.pubxml   text
*.ico      binary
*.png      binary

# These are part of the nuget package
LICENSE.txt   text eol=crlf
README.md     text eol=crlf
