# SPDX-FileCopyrightText: 2021 Frans van Dorsselaer
#
# SPDX-License-Identifier: MIT

# default: normalize EOL
* text=auto

.gitattributes   text
.gitignore       text
.editorconfig    text
.config          text
.license         text

*.md    text
*.txt   text
*LICENSE   text

*.yml   text

*.sln   text

*.csproj   text
*.cs       text eol=crlf
*.props    text

*.razor    text
*.cshtml   text
*.json     text
*.css      text
*.ico      binary

*.shfbproj   text
