/*
    SPDX-FileCopyrightText: 2023 Frans van Dorsselaer

    SPDX-License-Identifier: MIT
*/

.nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

  .nav-item:first-of-type {
    padding-top: 1rem;
  }

  .nav-item:last-of-type {
    padding-bottom: 1rem;
  }

  /* stylelint-disable selector-pseudo-element-no-unknown */
  .nav-item ::deep a {
    /* stylelint-enable selector-pseudo-element-no-unknown */
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
  }

    /* stylelint-disable selector-pseudo-element-no-unknown */
    .nav-item ::deep a.active {
      /* stylelint-enable selector-pseudo-element-no-unknown */
      background-color: rgba(255 255 255 / 25%);
      color: white;
    }

    /* stylelint-disable selector-pseudo-element-no-unknown */
    .nav-item ::deep a:hover {
      /* stylelint-enable selector-pseudo-element-no-unknown */
      background-color: rgba(255 255 255 / 10%);
      color: white;
    }

@media (width >= 641px) {
  .navbar-toggler {
    display: none;
  }

  .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
