@*
    SPDX-FileCopyrightText: 2021 Frans van Dorsselaer

    SPDX-License-Identifier: MIT
*@

<FluentNavMenu Collapsible="false">

    <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())" Href="/" Match="NavLinkMatch.All">
        <h3>Home</h3>
    </FluentNavLink>
    
    <FluentNavLink Href="counter">Counter</FluentNavLink>
</FluentNavMenu>
