<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2023 Frans van Dorsselaer

SPDX-License-Identifier: MIT
-->
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <!--
    Dummy file to support publishing from within Visual Studio.
    All necessary settings are (also) in the project file, to support 'dotnet publish' straight from the command line.
    -->
  <PropertyGroup>
      <WebPublishMethod>FileSystem</WebPublishMethod>
      <PublishUrl>bin\publish\</PublishUrl>
      <DeleteExistingFiles>true</DeleteExistingFiles>
      <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
      <LastUsedPlatform>Any CPU</LastUsedPlatform>
      <TargetFramework>net9.0</TargetFramework>
      <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>
