@*
    SPDX-FileCopyrightText: 2021 Frans van Dorsselaer

    SPDX-License-Identifier: MIT
*@

@page "/"
@namespace BlazorServerPush.Pages
@using Microsoft.AspNetCore.Components.Web
@using BlazorServerPush.Components
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/Microsoft.Fast.Components.FluentUI/css/reboot.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorServerPush.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<body>
    <component type="typeof(Routes)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
</body>

</html>
