@*
    SPDX-FileCopyrightText: 2021 Frans van Dorsselaer

    SPDX-License-Identifier: MIT
*@

@page "/counter"

<PageTitle>Counter</PageTitle>

@inject GlobalCounter GlobalCounter

@implements IDisposable

@using System.ComponentModel
@using Dorssel.Utilities

<h2>Counter</h2>

<div role="status" style="padding-bottom: 1em;">
    Current count: <FluentBadge Appearance="Appearance.Neutral">@GlobalCounter.Count</FluentBadge>
</div>

<FluentStack Orientation="Orientation.Vertical">
    <FluentSwitch @bind-Value=GlobalCounter.Enabled Label="Stress" />
    <FluentButton Appearance="Appearance.Accent" OnClick="GlobalCounter.Increment">Increment</FluentButton>
</FluentStack>

@code {
    protected override void OnInitialized()
    {
        GlobalCounter.PropertyChanged += OnPropertyChanged;
        Debouncer.Debounced += OnDebounced;
        base.OnInitialized();
    }

    void OnPropertyChanged(object? sender, PropertyChangedEventArgs ev)
    {
        // don't react immediately, but debounce all changes
        Debouncer.Trigger();
    }

    void OnDebounced(object? sender, DebouncedEventArgs ev)
    {
        // now it is time to render the new state
        InvokeAsync(() => StateHasChanged()).Wait();
    }

    readonly Debouncer Debouncer = new()
    {
        // 10 ms means that we are snappy for single updates
        DebounceWindow = TimeSpan.FromMilliseconds(10),
        // 100 ms means that when stressed we are more relaxed and update max 10 times per second
        DebounceTimeout = TimeSpan.FromMilliseconds(100),
        // to avoid the renderer itself from getting stressed, separate renders by 20 ms
        HandlerSpacing = TimeSpan.FromMilliseconds(20),
        // when multi-threading, it is a good idea to coalesce for about 10% of the DebounceWindow
        TimingGranularity = TimeSpan.FromMilliseconds(1),
    };

    bool IsDisposed;

    public void Dispose()
    {
        if (!IsDisposed)
        {
            // often forgotten: clean up when done
            GlobalCounter.PropertyChanged -= OnPropertyChanged;
            Debouncer.Debounced -= OnDebounced;
            Debouncer.Dispose();
            IsDisposed = true;
        }
    }
}
